
.__inputRoot{
    .__Label__inputRoot{
        display:block;
        padding: 10px 2px;
        color: #687587;
        font-weight: 400;
        letter-spacing: 0.3px;
    }
    .__Input__inputRoot{
        border: 1px solid #A9B3B9;
        background-color: #fff;
        padding: 15px;
        color: #333;
        border-radius: 5px;
        width: 100%;
        font-size:14px;

    }
}