@import '../../config/theme';

.snackbar{
  > div{
    height: 4.5rem;
    padding: 0 0 0 3rem;
    background: $color-accent;
  }

  &__message{
    font-size: 1.4rem;
    color: $color-light
  }
  &__close{
    padding: 0;
    height: 4.5rem;
    min-width: 0;
    width: 4.5rem;
    i{
      color: $color-light;
      margin-right: 0;
    }
  }
}